header {
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px black;
}

.button__Skills {
    color: black;
    font-size: 25px;
    font-family: Fira Sans;
}

.button__About {
    padding-right: 40px;
    color: black;
    font-size: 25px;
    font-family: Fira Sans;
}

.mainInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

img {
    width: 30em;
    height: auto;
    border-radius: 30%;
}

.mainText {
    width: 50em;
    margin-left: 70px;
}

h1 {
    font-size: 40px;
    color: darkred;
    font-family: Inter;
}

.textMain {
    font-size: 28px;
    font-family: Fira Sans;
}

.skills {
    font-size: 28px;
    font-family: Fira Sans;
}

.infoDop {
    font-size: 20px;
    padding-left: 50px;
    font-family: Fira Sans;
}

footer {
    border-top: solid 1px black;
    display: flex;
    justify-content: center;
}

.footerInfo {
    font-size: 20px;
    font-family: Fira Sans;
}
